@{
    ViewData["Title"] = "Admission Information";
}

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-primary" style="height: auto">
                    <div class="panel-heading" style="background-color: darkgreen">
                        <i class="fa fa-spinner fa-spin"></i> &nbsp; Science
                    </div>
                    <div class="panel-body">
                        <p><img src="~/images/admision-form-2018_2019science.jpg" width="100%" height="100%" alt="Science"></p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="panel panel-primary" style="height: auto">
                    <div class="panel-heading" style="background-color: darkgreen">
                        <i class="fa fa-spinner fa-spin"></i> &nbsp; Arts
                    </div>
                    <div class="panel-body">
                        <p><img src="~/images/admision-form-humanities.jpg" width="100%" height="100%" alt="Arts"></p>
                    </div>
               </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-primary" style="height: auto">
                    <div class="panel-heading" style="background-color: darkgreen">
                        <i class="fa fa-spinner fa-spin"></i> &nbsp; Commerce
                    </div>
                    <div class="panel-body">
                        <p><img src="~/images/admision-form-2018_2019business-studies.jpg" width="100%" height="100%" alt="Commerce"></p>
                    </div>
                </div>
            </div>  
         </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-primary" style="height: 300px">
                    <div class="panel-heading" style="background-color: darkgreen">
                        <i class="fa fa-spinner fa-spin"></i> &nbsp; NOTICE BOARD
                    </div>
                    <div class="panel-body">
                        <marquee style="text-align: center;height: 153px;" behavior="scroll" direction="up" scrollamount="4" onmouseover="this.stop()" onmouseout="this.start()">
                            <div styel="border-bottom: 1px dot;">
                                <p>*** 0000-00-00, 0000 সালের এইচ,এস,সি পরীক্ষার ফলাফল ***</p>
                                <a href="general_notice_view.php?id=MjM=">Read More</a>
                            </div>
                            <br>                                                <div styel="border-bottom: 1px dot;">
                                <p>*** 0000-00-00, 0000 সালের অনার্স তৃতীয় বর্ষ (নিয়মিত) পরীক্ষার সময়সূচী (পি,ডি,এফ) ***</p>
                                <a href="general_notice_view.php?id=MjE=">Read More</a>
                            </div>
                            <br>                                                <div styel="border-bottom: 1px dot;">
                                <p>*** 0000-00-00, 0000 সালের অনার্স তৃতীয় বর্ষ (নিয়মিত) পরীক্ষার সময়সূচী ***</p>
                                <a href="general_notice_view.php?id=MjA=">Read More</a>
                            </div>
                            <br>                                                <div styel="border-bottom: 1px dot;">
                                <p>*** 0000-00-00, এইচ,এস,সি প্রথম বর্ষের বার্ষিক পরীক্ষার(সংশোধিত) সময় সূচি-0000  ***</p>
                                <a href="general_notice_view.php?id=MTk=">Read More</a>
                            </div>
                            <br>                                                <div styel="border-bottom: 1px dot;">
                                <p>*** 0000-00-00, এইচ,এস,সি প্রথম বর্ষের বার্ষিক পরীক্ষার সময় সূচি-0000  ***</p>
                                <a href="general_notice_view.php?id=MTg=">Read More</a>
                            </div>
                            <br>                                                <div styel="border-bottom: 1px dot;">
                                <p>*** 0000-00-00, 0000 সালের এইচ,এস,সি  মডেল টেষ্ট পরীক্ষার রুটিন। ***</p>
                                <a href="general_notice_view.php?id=MTc=">Read More</a>
                            </div>
                            <br>
                            <div styel="border-bottom: 1px dot;">
                                <p>*** 0000-00-00, 0000 সালের ডিগ্রী (পাস) শ্রেণীর ক্লাস রুটিন ***</p>
                                <a href="general_notice_view.php?id=MTM=">Read More</a>
                            </div>
                            <br>                                                <div styel="border-bottom: 1px dot;">
                                <p>*** 0000-00-00, 0000-0000 শিক্ষা বর্ষের একাদশ এবং দ্বাদশ শ্রেণীর ক্লাস রুটিন ***</p>
                                <a href="general_notice_view.php?id=MTE=">Read More</a>
                            </div>

                            <br>                                                <div styel="border-bottom: 1px dot;">
                                <p>*** 0000-00-00, EXAMINATION NOTICE OF HSC ***</p>
                                <a href="general_notice_view.php?id=OQ==">Read More</a>
                            </div>
                            <br>                                                <div styel="border-bottom: 1px dot;">
                                <p>*** 0000-00-00, HSC Result 0000 ***</p>
                                <a href="general_notice_view.php?id=Ng==">Read More</a>
                            </div>
                            <br>                                                <div styel="border-bottom: 1px dot;">
                                <p>*** 0000-00-00, Description of Result ***</p>
                                <a href="general_notice_view.php?id=NA==">Read More</a>
                            </div>

                            <br>                                                <div styel="border-bottom: 1px dot;">
                                <p>*** 0000-00-00, Welcome to Govt. Sundarban Adarsha College ***</p>
                                <a href="general_notice_view.php?id=Mg==">Read More</a>
                            </div>
                            <br>
                        </marquee>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="panel panel-primary" style="height: 350px">
                    <div class="panel-heading" style="background-color: darkgreen">
                        <i class="fa fa-spinner fa-spin"></i> &nbsp; Photo Gallery
                    </div>
                    <div class="panel-body">
                        <p>Click on the images to enlarge them.</p>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <a href="~/images/2 (1).jpg" target="_blank">
                                        <img src="~/images/2 (1).jpg" alt="Lights" style="width:100%">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <a href="~/images/4 (1).jpg" target="_blank">
                                        <img src="~/images/4 (1).jpg" alt="Nature" style="width:100%">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <a href="~/images/3 (1).jpg" target="_blank">
                                        <img src="~/images/3 (1).jpg" alt="Fjords" style="width:100%">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="thumbnail">
                                    <a href="~/images/1 (1).jpg" target="_blank">
                                        <img src="~/images/1 (1).jpg" alt="Fjords" style="width:100%">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>