@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
            <li data-target="#myCarousel" data-slide-to="5"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/images/1.jpg" alt="Main Gate" class="img-responsive" width="100%" />
                <div class="carousel-caption" role="option">
                    <p>
                        <a class="btn btn-default" href="http://gsac.edu.bd/">
                            For More Visite
                        </a>
                    </p>
                </div>
            </div>

            <div class="item">
                <img src="~/images/2.jpg" alt="প্রশাসনিক ভবন" class="img-responsive" width="100%" />
                <div class="carousel-caption" role="option">
                    <p>
                        <a class="btn btn-default" href="http://gsac.edu.bd/">
                            For More Visite
                        </a>
                    </p>
                </div>
            </div>

            <div class="item">
                <img src="~/images/3.jpg" alt="একাডেমিক ভবন ১" class="img-responsive" width="100%" />
                <div class="carousel-caption" role="option">
                    <p>
                        <a class="btn btn-default" href="http://gsac.edu.bd/">
                            For More Visite
                        </a>
                    </p>
                </div>
            </div>

            <div class="item">
                <img src="~/images/4.jpg" alt="একাডেমিক ভবন ২" class="img-responsive" width="100%" />
                <div class="carousel-caption" role="option">
                    <p>
                        <a class="btn btn-default" href="http://gsac.edu.bd/">
                            For More Visite
                        </a>
                    </p>
                </div>
            </div>

            <div class="item">
                <img src="~/images/5.jpg" alt="শিক্ষক পরিষদ" class="img-responsive" width="100%" />
                <div class="carousel-caption" role="option">
                    <p>
                        <a class="btn btn-default" href="http://gsac.edu.bd/">
                            For More Visite
                        </a>
                    </p>
                </div>
            </div>

            <div class="item">
                <img src="~/images/6.jpg" alt="শহীদ মিনার" class="img-responsive" width="100%" />
                <div class="carousel-caption" role="option">
                    <p>
                        <a class="btn btn-default" href="http://gsac.edu.bd/">
                            For More Visite
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="row">
        <div class="col-sm-2">
            <h1 style="background-color: #004d00;margin-left: 10px;margin-top: 0px;color: white;font-size: x-large">Latest News : </h1>
        </div>
        <div class="col-sm-10">
            <h1 style="background-color:#004d00;margin:0px;margin-right: 10px;color:white;font-size: x-large">
                <marquee behavior="scroll" direction="left">Web repair work is underway. We are sincerely sorry for the temporary inconvenience. </marquee>
            </h1>
        </div>
    </div>
    <!--
    <div class="news-section">
        <div style="font-size:15px;background-color: #3B5998; color: #fff; width:auto; float: left; font-weight: bold; height: 40px; line-height: 40px; padding: 0 10px 0 14px; position: relative; text-align: center; width: 115px; z-index: 2; font-family:'Times New Roman', Times, serif">News Update</div>
        <marquee behavior="scroll" direction="left" scrollamount="4" onmouseover="this.scrollAmount = 0" onmouseout="this.scrollAmount = 4">

            <span>ওয়েব মেরামতের কাজ চলছে। সাময়িক অসুবিধার জন্য আমরা আন্তরিকভাবে দুঃখিত। </span>

        </marquee>
    </div>
        -->
    <div class="container-fluid">
        <div class="row principal_msg">
            <!-- Principal Massage Start-->
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading" style="font-weight: bold; font-size: 15px; background-color: darkgreen">Principal's Message</div>
                    <div class="panel-body">
                        <p style="text-align: justify; line-height: 1.6;">
                            <img style="width:240px; height: 240px;float: left; border: 1px solid #EDEDED; padding: 5px; margin: -3px 10px 0px 0px;" class="img-responsive" src="~/images/Principal.jpg" alt="Principal's Message">
                            <span>
                                Govt. Sundarban Adarsha Collegenis a unique name in the field of education in the South-Western region.
                                It started it’s journey 1969. With the passage of time it has attained
                                a significant standard in the academic arena. It is constantly doing
                                good result in all public examinations each year. Besides, it is earning name
                                and fame in co-curricular and extra-curricular activities as well.
                                It is an autonomous institution which is administered by Ministry of Education (MOE),
                                Government of Bangladesh.<br>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading" style="font-weight: bold; font-size: 15px; background-color: darkgreen">Vice Principal's Message</div>
                    <div class="panel-body">
                        <p style="text-align: justify; line-height: 1.6;">
                            <img style="width:220px; height: 240px; float: left; border: 1px solid #EDEDED; padding: 5px; margin: -3px 10px 0px 0px;" class="img-responsive" src="~/images/Vice Principal.jpg" alt="Vice Principal's Message">
                            <span>
                                With the establishment of Govt. Sundarban Adarsha College, Khulna it is dedicated
                                to deliver its best in academic arena along with the management and
                                administration of academic institutions. Official Website of Govt. Sundarban Adarsha College
                                is such a step accompanying the Digital Bangladesh Mission and Vision
                                of the government of the Peoples Republic of Bangladesh.<br>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div><!-- Principal Massage End-->
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary" style="height: auto">
                    
                    <div class="panel-heading" style="background-color: darkgreen">
                        <i class="fa fa-spinner fa-spin"></i> &nbsp; 
                    </div>
                    <div class="panel-body">
                        <h1 style="text-align: center; font-size: 25.631px; line-height: 36.738px;" data-inline-fontsize="true" data-inline-lineheight="true" data-fontsize="30" data-lineheight="43">Welcome To GSAC</h1>
                        <div class="fusion-sep-clear"></div>
                        <div class="fusion-separator fusion-full-width-sep sep-single" style="border-color:#145629;border-top-width:1px;margin-left: auto;margin-right: auto;margin-top:;margin-bottom:10px;"><span class="icon-wrapper" style="border-color:#145629;"><i class="fa fa-graduation-cap" style="color:#145629;"></i></span></div>
                        <p align="justify"><span style="float: left; width: 0.7em; font-family: algerian, courier; font-size: 300%; line-height: 80%;"></span>
                        Govt. Sundarban Adarsha College is established in Bangladesh. The College was established in 1969. The overall mission of GSAC is human resources development through appropriate teaching, training and guidance as well as creation of knowledge conducive to socio-economic development of developing societies in general and that of Bangladesh in particular. This overall mission is being attained through offering courses and curricula relating to various aspects of knowledge as well as providing opportunities for individuals to acquire skill and relevant experience in the chosen field of specialization.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-primary" style="height: 350px">
                    <div class="panel-heading" style="background-color: darkgreen">
                        <i class="fa fa-spinner fa-spin"></i> &nbsp; NOTICE BOARD
                    </div>
                    <div class="panel-body">
                        <marquee style="text-align: center;height: 280px;" behavior="scroll" direction="up" scrollamount="4" onmouseover="this.stop()" onmouseout="this.start()">
                            <div styel="border-bottom: 1px dot;">
                                <p>*** 0000-00-00, 0000 সালের এইচ,এস,সি পরীক্ষার ফলাফল ***</p>
                                <a href="general_notice_view.php?id=MjM=">Read More</a>
                            </div>
                            <br>                                                <div styel="border-bottom: 1px dot;">
                                <p>*** 0000-00-00, (বি,এম) প্রাকটিক্যাল রুটিন-0000 ***</p>
                                <a href="general_notice_view.php?id=MjI=">Read More</a>
                            </div>
                            <br>                                                <div styel="border-bottom: 1px dot;">
                                <p>*** 0000-00-00, 0000 সালের অনার্স তৃতীয় বর্ষ (নিয়মিত) পরীক্ষার সময়সূচী (পি,ডি,এফ) ***</p>
                                <a href="general_notice_view.php?id=MjE=">Read More</a>
                            </div>
                            <br>                                                <div styel="border-bottom: 1px dot;">
                                <p>*** 0000-00-00, 0000 সালের অনার্স তৃতীয় বর্ষ (নিয়মিত) পরীক্ষার সময়সূচী ***</p>
                                <a href="general_notice_view.php?id=MjA=">Read More</a>
                            </div>
                            <br>                                                <div styel="border-bottom: 1px dot;">
                                <p>*** 0000-00-00, এইচ,এস,সি প্রথম বর্ষের বার্ষিক পরীক্ষার(সংশোধিত) সময় সূচি-0000  ***</p>
                                <a href="general_notice_view.php?id=MTk=">Read More</a>
                            </div>
                            <br>                                                <div styel="border-bottom: 1px dot;">
                                <p>*** 0000-00-00, এইচ,এস,সি প্রথম বর্ষের বার্ষিক পরীক্ষার সময় সূচি-0000  ***</p>
                                <a href="general_notice_view.php?id=MTg=">Read More</a>
                            </div>
                            <br>                                                <div styel="border-bottom: 1px dot;">
                                <p>*** 0000-00-00, 0000 সালের এইচ,এস,সি  মডেল টেষ্ট পরীক্ষার রুটিন। ***</p>
                                <a href="general_notice_view.php?id=MTc=">Read More</a>
                            </div>
                            <br>                                                <div styel="border-bottom: 1px dot;">
                                <p>*** 0000-00-00, 0000 সালের এইচ,এস,সি (বি,এম) মডেল টেষ্ট পরীক্ষার রুটিন ***</p>
                                <a href="general_notice_view.php?id=MTY=">Read More</a>
                            </div>
                            <br>                                                <div styel="border-bottom: 1px dot;">
                                <p>*** 0000-00-00, 0000 সালের ডিগ্রী (পাস) শ্রেণীর ক্লাস রুটিন ***</p>
                                <a href="general_notice_view.php?id=MTM=">Read More</a>
                            </div>
                            <br>                                                <div styel="border-bottom: 1px dot;">
                                <p>*** 0000-00-00, 0000-0000 শিক্ষা বর্ষের (বি,এম) একাদশ এবং দ্বাদশ শ্রেণীর ক্লাস রুটিন ***</p>
                                <a href="general_notice_view.php?id=MTI=">Read More</a>
                            </div>
                            <br>                                                <div styel="border-bottom: 1px dot;">
                                <p>*** 0000-00-00, 0000-0000 শিক্ষা বর্ষের একাদশ এবং দ্বাদশ শ্রেণীর ক্লাস রুটিন ***</p>
                                <a href="general_notice_view.php?id=MTE=">Read More</a>
                            </div>

                            <br>                                                <div styel="border-bottom: 1px dot;">
                                <p>*** 0000-00-00, EXAMINATION NOTICE OF HSC ***</p>
                                <a href="general_notice_view.php?id=OQ==">Read More</a>
                            </div>
                            <br>                                                <div styel="border-bottom: 1px dot;">
                                <p>*** 0000-00-00, HSC Result 0000 ***</p>
                                <a href="general_notice_view.php?id=Ng==">Read More</a>
                            </div>
                            <br>                                                <div styel="border-bottom: 1px dot;">
                                <p>*** 0000-00-00, Description of Result ***</p>
                                <a href="general_notice_view.php?id=NA==">Read More</a>
                            </div>
                            <br>                                                <div styel="border-bottom: 1px dot;">
                                <p>*** 0000-00-00, কলেজের ইতিহাস ***</p>
                                <a href="general_notice_view.php?id=Mw==">Read More</a>
                            </div>
                            <br>                                                <div styel="border-bottom: 1px dot;">
                                <p>*** 0000-00-00, Welcome to Govt. Sundarban Adarsha College ***</p>
                                <a href="general_notice_view.php?id=Mg==">Read More</a>
                            </div>
                            <br>                                                <div styel="border-bottom: 1px dot;">
                                <p>*** 0000-00-00, Our mission ***</p>
                                <a href="general_notice_view.php?id=MQ==">Read More</a>
                            </div>
                            <br>
                        </marquee>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-primary" style="height: 350px">
                    <div class="panel-heading" style="background-color: darkgreen">
                        <i class="fa fa-spinner fa-spin"></i> &nbsp; Event
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li><a herf="#">Departmrnt Wise</a></li>
                            <li><a herf="#">Independence Day Celebration</a></li>
                            <li><a herf="#">Victory Day Celebration</a></li>
                            <li><a herf="#">Annual function</a></li>
                            <li><a herf="#">Occational Program</a></li>
                            <li><a herf="#">Cultural Program</a></li>
                            <li><a herf="#">Convocation</a></li>
                            <li><a herf="#">Sports Event</a></li>
                            <li><a herf="#">Price Giving CEremony</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>